.recipeTitle {
    padding-top: 30px;
    margin-bottom: 0px;
}

.twentyMarginBottom {
    margin-bottom: 20px;
}

.subTitle {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
}